@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  cursor: pointer;
  border: 0;
    border-radius: 10px;
    height: 54px;
    width: 100%;
   
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  &.primaryButton {
    background: #2BD17E;
    
  
  }
  &.secondryButton {
    background: transparent;
    border: 1px solid #fff;
    
    color: #ffffff;
  }
}




span.error {
  display: block;
  text-align: left;
  color: #ee4f4f;
  font-size: 12px;
  line-height: 30px;
}




/* Style for the toast close button */
button.Toastify__close-button.Toastify__close-button--light {
 display: none;
}
